<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Biblioteca</display-name>
  <welcome-file-list>
    <welcome-file>Accesso.jsp</welcome-file>
    <welcome-file>Catalogo.jsp</welcome-file>
    <welcome-file>ListaUtenti.jsp</welcome-file>
    <welcome-file>Carrello.jsp</welcome-file>
    <welcome-file>PrestitiUtente.jsp</welcome-file>
    <welcome-file>PrestitiAdmin.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/bibliotecadb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>AggiungiLibroCarrelloServlet</servlet-name>
    <servlet-class>carrelloPackage.AggiungiLibroCarrelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiLibroCarrelloServlet</servlet-name>
    <url-pattern>/addlibrocarrello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualizzaCatalogoServlet</servlet-name>
    <servlet-class>libriPackage.VisualizzaCatalogoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaCatalogoServlet</servlet-name>
    <url-pattern>/libro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiLibroCatalogo</servlet-name>
    <servlet-class>libriPackage.AggiungiLibroCatalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiLibroCatalogo</servlet-name>
    <url-pattern>/addlibrocatalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RimuoviLibroCatalogo</servlet-name>
    <servlet-class>libriPackage.RimuoviLibroCatalogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviLibroCatalogo</servlet-name>
    <url-pattern>/rimuovilibrocatalogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RimuoviLibroCarrelloServlet</servlet-name>
    <servlet-class>carrelloPackage.RimuoviLibroCarrelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviLibroCarrelloServlet</servlet-name>
    <url-pattern>/rimuovilibrocarrello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiusuraPrestitoServlet</servlet-name>
    <servlet-class>prestitiPackage.ChiusuraPrestitoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiusuraPrestitoServlet</servlet-name>
    <url-pattern>/chiusura_prestito</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>utentiPackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/accesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>utentiPackage.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistraServlet</servlet-name>
    <servlet-class>utentiPackage.RegistraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraServlet</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RimuoviUtenteServlet</servlet-name>
    <servlet-class>utentiPackage.RimuoviUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviUtenteServlet</servlet-name>
    <url-pattern>/rimuovi_utente</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>InvioPrestitoServlet</servlet-name>
    <servlet-class>prestitiPackage.InvioPrestitoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvioPrestitoServlet</servlet-name>
    <url-pattern>/invio_prestito</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>VisualizzaPrestitiServlet</servlet-name>
    <servlet-class>prestitiPackage.VisualizzaPrestitiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaPrestitiServlet</servlet-name>
    <url-pattern>/prestiti</url-pattern>
  </servlet-mapping>
</web-app>