@media screen and (max-width: 1024px) {
	header.top img{
	     width: 100%;
	     max-width: 100%;
	}
	
	aside {
	     margin-left: 25%;
	     margin-right: 25%;
	     padding: 0px;
	}
	
	div#cit img{
	    width: 70%;
	    max-width: 70%;
	    padding-top: 0px;
	    margin-left: 15%;
	    
	}
	
	div#libro img{
	    width: 100%;
	    max-width: 100%;
	    padding-top: 25px;
	    
	}
	
	div#cit {
	   margin-left: 0px;
	}
	
	div.descrizione img{
	   width: 100%;
	   max-width: 100%;
	}
	
	div#reg {
	float:right;

    }
	
	nav{
	  margin-right: 0px;
	}
	nav ul li {
	  display: table;
	}
	
	ul{
	  float: left;
	}
	
	table {
	width: 100%;
	max-width: 100%;
	margin-top: 0%;
	margin-left:0%;
	text-algin: right;
    }
    
    table#pres {
	width: 100%;
	max-width: 100%;
	margin-left: 0%;
    }
    
    table#utenti {
	width: 100%;
	max-width: 100%;
	margin-left: 0%;
    }
    
    table.carr {
	margin-left: 0%;
    }
    
    h2#l{
      margin-top: 30%;
      
    }
    
    h2#a{
      margin-top: 25%;
      
    }
    
    h2#p {
      margin-top: 25%;
    }
    
    h2#c {
      margin-top: 25%;
    }
    
    .right{
	   float: left;
	   padding-top: 5px;
	}
	
	
}

@media screen and (max-width: 650px){
	
	div#cit img{
	    width: 100%;
	    max-width: 100%;
	    padding-top: 0px;
	    margin-left: 0px;
	    
	}
	
	table#accesso{
	  margin-left: 0px;
	}
	
	div#benvenuto{
	   text-align: right;
	   font-size: 80%;
	}
	
	aside{
	    width: 100%;
	    max-width: 100%;
	   margin: 0px;
	   font-size: 90%;
	}
	
	div.descrizione{
	     font-size: 100%;
	     margin-left: 0px;
	     margin-right: 0px; 
	}
	
	div.descrizione img#int {
	float: none;
	margin-left: 0px;	
    } 
    
    div#contatti{
	   font-size: 100%;
	   margin-top: 250px;
    }
    
    div#ordine{
        
        margin-right:35%;
    }
    
    p#cerca{
       float: left;
    }
    
     h2#l{
      margin-top: 60%;
      
    }
    
    h2#a{
      margin-top: 40%;
      
    }
    
    h2#p {
      margin-top: 40%;
    }
    
    h2#c {
      margin-top: 45%;
    }
    
	
}

@media screen and (max-width: 481px){
	div#benvenuto{
	   font-size: 25%;
	}
	
	div#contatti{
	   font-size: 100%;
	   margin-top: 300px;
    }
    
     div#ordine{
        
        margin-right:25%;
    }
    
    div#reg {
	float:left;

    }
    
    div#reg h2{
	
	margin-top: 0px;
    }
    
    
    h2#l{
      margin-top: 65%;
      
    }
    
    h2#a{
      margin-top: 65%;
      
    }
    
    h2#p {
      margin-top: 80%;
    }
    
    h2#c {
      margin-top: 70%;
    }
    
}



